
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section datepicker
{
    <script>
  $(function() {
      $("#Viewed").datepicker();
  });
    </script>
}

<h2>Edit</h2>

@Html.Partial("EditForm")