@model movieSite.Models.MoviesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Movie library";
}

<h2>Movies i've seen</h2>

<ul>
@foreach (var movie in Model.MoviesList)
{
    <li> @movie.Title</li>

}
</ul>